{% extends 'base.html.twig' %} {% block title %}Hello EventsController!{% endblock %} {% block body %}
<!--Hero-->{% include "components/hero-home.html.twig" %}

<!--Content-->

<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <h3>upcoming Events</h3>
        <a href="/create" class="me-0"><button class="button">new event</button></a></div>
    <div class="row row-cols-3">
        {% for event in events %}
        <div class="col">
            <div class="card">
                <img src="{{event.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{event.name}}</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}